version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "1412:1412"
    environment:
      - NODE_ENV=production
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    networks:
      - linklian-net

networks:
  linklian-net:
    external: true